body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  height: 100vh;
}
#ct {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  border:1px solid #ccc;
  border-radius: 8px;
}