* {
  box-sizing: border-box;
}
button {
  position:fixed;
  top:20px;
  right:20px;
  background-color:#575757;
  padding:20px;
  border:none;
  outline: none;
  color:white;    
  transition: transform 0.3s ease-in-out;
}
button.active {
  transform:translateX(-193px);
}
nav {
  position:fixed;
  top:0;
  right:0;
  background-color:#575757;
  height:100%;
  padding:60px;
  transform:translateX(100%);
  transition: transform 0.3s ease-in-out;
}
nav.active {
  transform:translateX(0);
}
nav ul {  
  padding:0;
  margin:0;
  list-style: none;
}
nav ul li {
  padding:15px 0;
}
nav a {
  color:white;
  text-decoration: none;
  font-size: 20px;
}
